/******************** GENERAL ********************/
.modal {
  color: var(--black);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  background-color: var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  max-height: 95vh;
}

h4 {
  margin: 0.25rem;
}

.input {
  margin: 0.25rem;
  font-size: 0.85rem;
  text-align: center;
  justify-self: center;
  height: 1.25rem;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}

.acept,
.cancel,
.info {
  border-radius: 1rem;
  background-color: var(--white);
  border: 0.125rem solid var(--black);
  margin: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  font-weight: bold;
  height: 1.5rem;
  width: min-content;
  font-size: 0.85rem;
}

label {
  font-size: 0.85rem;
}

/************** SECT INFO MODAL **************/
#sectInfoModal {
  display: grid;
  grid-template-rows: auto;
  width: 14rem;
  gap: 0.4rem;
}

#mttDivModal,
#prizesDivModal {
  border: 0.063rem solid var(--black);
  border-radius: 0.313rem;
  width: 100%;
  gap: 0.25rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* TORNEO */
#mttDivModal {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-self: start;
}

#dateModal {
  width: 4.5rem;
}

#nameModal {
  width: 12rem;
}

#stackModal {
  width: 4.5rem;
}

#buyInModal {
  width: 4rem;
}

#endRebuysDivModal {
  display: none;
}

#endRebuysModal {
  width: 2.5rem;
}

#checkboxModal {
  display: flex;
  align-items: center;
}

/* PREMIOS */
#prizesDivModal {
  display: grid;
  justify-items: center;
  align-self: end;
}

#paidPlacesDivModal {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#totalPrizeDivModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

#totalLevelsRow.totalRow td {
  text-align: center !important;
}

.totalRow {
  background-color: var(--blue5) !important;
  font-weight: bold;
}

.hidden {
  border: none !important;
  background-color: var(--white);
}

#totalPrizeModal {
  font-size: 0.85rem;
  width: 3rem;
}

#paidPlacesModal {
  font-size: 0.85rem;
  width: 4rem;
  height: 1.25rem;
}

#tablePrizesModal {
  display: none;
  border-collapse: collapse;
  align-self: center;
  font-size: 0.80rem;
}

#tablePrizesModal th {
  background-color: var(--blue5);
}

#tablePrizesModal th,
#tablePrizesModal td {
  border: 0.063rem solid black;
}

#tablePrizesModal td {
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#tablePrizesModal tr:nth-child(even),
#tablePrizesModal tr:nth-child(even) td input {
  background-color: var(--blue6);
}

.inputPrize {
  height: 1rem;
  text-align: center;
  border: none;
  outline: none;
  width: 4rem;
}

.inputPrizesPercent,
.inputPrizesPrize {
  height: 1rem;
  text-align: right;
  border: none;
  outline: none;
  width: 4rem;
}

.inputPrizesPercent {
  text-align: center;
  padding-left: 1rem;
  width: 3rem;
}

#prizesDivBtnModal {
  display: none;
  margin-top: 0.25rem;
  margin-bottom: 0rem;
}

/************* SECT LEVELS MODAL *************/
/* NIVELES */
#sectLevelsModal {
  border: 0.063rem solid var(--black);
  justify-items: center;
  padding: 0.5rem;
  border-radius: 0.313rem;
  height: 42rem;
}

#selectLevelsModal {
  margin: 0;
  width: max-content;
}

#titleLevelsModal {
  width: 11rem;
  margin: 0rem;
}

#levelsDivModal1 {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

#levelsDivModal2 {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#saveLevelsBtnModal,
#deleteLevelsBtnModal {
  margin: 0;
}

#deleteLevelsBtnModal {
  display: none;
}

#tableLevelsModal {
  border-collapse: collapse;
  align-self: center;
}

#tableLevelsModal th {
  background-color: var(--blue5);
}

#tableLevelsModal th,
#tableLevelsModal td {
  border: 0.063rem solid black;
}

#tableLevelsModal td:last-child {
  text-align: center;
  width: 5rem;
}

#tableLevelsModal tr:nth-child(even),
#tableLevelsModal tr:nth-child(even) td input {
  background-color: var(--blue6);
}

#tableLevelsModal {
  height: min-content;
  font-size: 0.85rem;
}

.break {
  font-size: 0.85rem;
  color: var(--red);
}

#tbodyLevelsModal input[type="number"] {
  width: 4rem;
  text-align: center;
}

#tbodyLevelsModal input[type="text"] {
  text-align: center;
  width: 4rem;
}

.tdLevelsModal {
  font-size: 0.85rem;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  box-sizing: border-box;
  border: none;
}

.tdLevelsModal:focus {
  border: none;
  outline: none;
}

.deleteRowLevels,
.addBreakRowLevels,
.addRowLevels {
  padding: 0;
  font-weight: bold;
  font-size: 0.73rem;
  width: 1.25rem;
  height: 1rem;
  flex-grow: 1;
  height: 100%;
}

.deleteRowLevels {
  color: var(--red);
}

.addBreakRowLevels {
  color: var(--gray);
}

.addRowLevels {
  color: var(--green);
}

/************** BTN CLOSE MODAL **************/
#closeBtnModal {
  grid-column: span 2;
  text-align: center;
}